#Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env


*.db
*.sqlite3

#Node / React
node_modules/
dist/
dist-ssr/
*.local
math-ui/node_modules/
math-ui/dist/
math-ui/.env*

#Log-uri & procese
*.log
*.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Docker / build artefacts
*.tar           # imagini docker salvate local
logs/           # un eventual folder cu log-uri generate

#IDE / OS 
.vscode/
.idea/
.DS_Store
Thumbs.db

# Cache-uri
.mypy_cache/
.pytest_cache/
.cache/

# vite, jest etc. (dacă apar)
*.cache/
.vite/deps/

# Ignore specific files in math-ui
!.vscode/extensions.json
